body
	{
	font-family: Arial;
	background-color: #000000;
	}

#wrapper
	{
	width: 600px;
	margin: 0 auto 0 auto;
	}

h1
	{
	padding-top: 30px;
	color: #baff00;
	font-size: 24px;
	margin-top: 10px;
	}

h2
	{
	color: #85b30b;
	font-size: 18px;
	padding-bottom: 10px;
	margin-top: 10px;
	}

p
	{
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	}